# Coref tasks
--coref-task-file=data/coref-tasks.tsv

# Output dir
--output-dir=data/multi-canopy-output/

# Num threads
--num-threads=18

# Database
--hostname=localhost
--port=27972
--dbname=patentsview_data
--collection-name=inventormentions

# Embeddings
--embedding-file=data/embedding/embeddings.txt

# Encoding
--codec=ISO-8859-1